*{
    margin: 0;
    padding: 0;
}

img{
    width: 100%;
}
.product-img{
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.product{
    width: 50%;
}
.item{
    width: 1600px;
    margin: auto;
    display: flex;
    gap: 20px;
}

.c-box{
    width: 33.33%;
}
.red-bg{
    width: 100%;
    height: 200px;
    background-color: red;
}
.blue-bg{
    width: 100%;
    height: 200px;
    background-color: blue;
}
.pink-bg{
    width: 100%;
    height: 200px;
    background-color: pink;
}

.content-1{
    width: 25%;
}

.content-2{
    width: 20%;
}

@media (max-width: 1600px){
    .item{
        width: 100%;
        }
}

@media (max-width: 768px){
        .column{
            flex-direction: column;
        }
         .c-box{
            width: 100%;
        }
        .content-1{
            width: 50%;
        }
        .wrap{
            flex-wrap:wrap
        }
        .gap{
            gap: 0px;
        }

        .w-100{
            width: 100%;
        }
        .w-50{
            width: 50%;
        }
}
